<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, my name is <%= @user.username %></h1>
    <p>
      I saw your <%= link_to "post", @post %> on WesAdmits and wanted to ask about it.<br>
    </p>
    <p> 
      INSERT USER MESSAGE
    </p>
    <p>Thanks so much and have a great day!</p>
  </body>
</html>