<header class="header">
  <h1 class="logo">Logo</h1>
  <ul class="nav">
    <li><a href="#">Rides</a></li>
    <li><a href="#">Lost and Found</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Sign in</a></li>
  </ul>
</header>