<% if logged_in? %>
  <div class="newpostbuttons">
  	<center>
      <span class='actions'>
      	<span class="glyphicon glyphicon-edit"></span> 
      	<%= link_to 'New Event', new_event_path(:redirect_to => @state), class: "btn btn-primary" %>
      </span>

      <span class='actions'>
  	    <span class="glyphicon glyphicon-plus"></span> 
  	    <span class="glyphicon glyphicon-pencil"></span>  
  	    <%= link_to 'New Lost/Found', new_lostandfound_path(:redirect_to => @state), class: "btn btn-primary" %>
  	 </span>

      <span class='actions'>
    		<%= link_to 'New Ride', new_ride_path(:redirect_to => @state), class: "btn btn-primary"%>
    		<span class="glyphicon glyphicon-road"></span>
    		<span class="glyphicon glyphicon-plus"></span> 
  	    <span class="glyphicon glyphicon-pencil"></span>
  	    <span class="glyphicon glyphicon-edit"></span> 
    	</span>

      <span class='actions'>
        <%= link_to 'New Trading Post', new_trading_post_path(:redirect_to => @state), class: "btn btn-primary"%>
      </span>

  	</center>
  </div>
<% end %> 










