
<div class="newpostbuttons">
	<center>
    <button type= "button" class="btn btn-info"> <span class="glyphicon glyphicon-edit"></span> <%= link_to 'New Event', new_event_path(:redirect_to => @state) %></button>
    <button type= "button" class="btn btn-info"> <span class="glyphicon glyphicon-plus"></span> 
    <span class="glyphicon glyphicon-pencil"></span>  <%= link_to 'New Lost/Found', new_lostandfound_path(:redirect_to => @state) %></button>

    <button type= "button" class="btn btn-info">  <span class="glyphicon glyphicon-road"></span>  <%= link_to 'New Ride', new_ride_path(:redirect_to => @state) %></button>
	</center>
</div>